table {
  min-width: 400px;
}

.sensing-list td {
  padding-left: 5px;
  padding-right: 5px;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}